
<h1>bonjour</h1>
<p>l' url de la recherche sur lacentrale est : <%= url %></p>
<p>La cote est de : <%=cote%> € Pour cette voiture</p>
<p>Marque : <%=marque%> <br/>Modele : <%=modele><br/>Annee : <%=annee%></p>
<p>Si par malheur rien ne s'affiche, actualisez la page. </p>